<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Xrns2XModUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup><userSettings>
        <Xrns2XModUI.Properties.Settings>
            <setting name="ProxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="CredentialsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VolumeScalingMode" serializeAs="String">
                <value>SAMPLE</value>
            </setting>
            <setting name="PTCompatibiliy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BassEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="BassCode" serializeAs="String">
                <value />
            </setting>
            <setting name="PortamentoLossTreshold" serializeAs="String">
                <value>2</value>
            </setting>
        </Xrns2XModUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
